<?xml version="1.0" ?>
<launch>
  <node pkg="pcl_exercise" type="read_mask_to_pc" name="read_mask_to_pc" output="screen">
  	<remap from="depth_image" to="/camera/aligned_depth_to_color/image_raw"/>
  </node>
<!--   <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
  </include> -->
</launch>